@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 0.9em;
}

.custom-hight {
  min-height: calc(100vh - 11rem);
}

.max-custom-hight {
  min-height: calc(100vh - 11rem);
}

@media (min-width: 1024px) {
  .custom-hight {
    height: calc(100vh - 14rem);
  }
}

.custom-max-hight {
  max-height: calc(100vh - 0rem);
}

.category-custom-hight {
  height: calc(100vh - 2rem);
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.table-custom-hight {
  height: calc(100vh - 203px);
}

@media (min-width: 1024px) {
  .table-custom-hight {
    height: calc(100vh - 217px);
  }
}
/* ////// */
@media (min-width: 640px) {
  table {
    display: inline-table !important;
  }

  thead tr:not(:first-child) {
    display: none;
  }
}

td:not(:last-child) {
  border-bottom: 0;
}

th:not(:last-child) {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
