@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 0.8em;
}

.custom-hight {
  min-height: calc(100vh - 11rem);
}

.max-custom-hight {
  min-height: calc(100vh - 11rem);
}

@media (min-width: 1024px) {
  .custom-hight {
    height: calc(100vh - 14rem);
  }
}

.custom-max-hight {
  max-height: calc(100vh - 0rem);
}

.category-custom-hight {
  height: calc(100vh - 2rem);
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.table-custom-hight {
  height: calc(100vh - 203px);
}

@media (min-width: 1024px) {
  .table-custom-hight {
    height: calc(100vh - 217px);
  }
}
/* ////// */
@media (min-width: 640px) {
  table {
    display: inline-table !important;
  }

  thead tr:not(:first-child) {
    display: none;
  }
}

td:not(:last-child) {
  border-bottom: 0;
}

th:not(:last-child) {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

/* for tag element container  */
.rti--container {
  --rti-border: #eee !important;
  --rti-main: #2196f3 !important;
  border: 1px solid var(--rti-border) !important;
  padding: 0.5rem 0.75rem !important;
  outline: none !important;
}

/* Hover state - apply border color only */
.rti--container:hover {
  border: 1px solid black !important;
}

.rti--container:focus-within {
  border: 1px solid var(--rti-main) !important;
}

/*for tag input element  */
.rti--input {
  width: 100% !important;
  padding: 0 !important;
}
