@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-max-hight {
  max-height: calc(100vh - 14rem);
}

.category-custom-hight {
  height: calc(100vh - 2rem);
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}
